h1 {
text-align: center;
}

p {
	background-color: gray;
	padding: 50px 10px 10px 10px;
	margin: 10px;
	border: 1px solid black;
}

.row{
	width:100%;
}

.rel{
	position: relative;
}

.header{
	position: absolute;
	top: 10px;
	right:10px;
	border:1px solid black;
	font-family: Arial;
	padding:5px 20px 5px 20px;
	font-size: 24;
}

#chicken{
background-color: yellow;
}

#beef{
background-color: brown;
}

#sushi{
background-color: silver;
}

/*** Desktop ***/
@media (min-width: 992px){
	.col-lg-4{
		float:left;
	}
	.col-lg-4{
		width:33%;
	}
}

/*** Tablet ***/
@media (min-width: 768px) and (max-width: 991px){
	.col-md-6{
		float:left;
	}
	.col-md-6{
		width:50%;
	}

	.col-md-12{
		float:left;
		width:100%;
	}
}


/*** Mobile ***/
@media (max-width: 767px){
	.adjust_header{
		float:left;
	}
	.adjust_header{
		top: 0;
	}
}